doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Дипломна кваліфікаційна робота

        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')

        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
        link(href='css/stylish-portfolio.css', rel='stylesheet')
    body#page-top

        header.masthead.d-flex
            .container.text-center.my-auto
                h1.mb-1 Аналіз процесу розгортання веб-застосунку в cloud-середовищі AWS
                h3.mb-5
                    em Виконав ст.гр. ТК-43 Сало Б.І.
                a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Версія Застосунку
                    span.glyphicon.glyphicon-arrow-down
            .overlay

        section#about.content-section.about.bg-light
            .container.text-center
                .row
                    .col-lg-10.mx-auto
                        h2 Версія застосунку:
                        p.alert.alert-info.version v1

        section#services.content-section.bg-primary.text-white.text-center
            .container
                .row
                    .col-lg-3.col-md-6.mb-5.mb-lg-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-screen-smartphone
                        h4
                            strong Responsive
                        p.text-faded.mb-0 Looks great on any screen size!
                    .col-lg-3.col-md-6.mb-5.mb-lg-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-pencil
                        h4
                            strong Redesigned
                        p.text-faded.mb-0 Freshly redesigned for Bootstrap 4.
                    .col-lg-3.col-md-6.mb-5.mb-md-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-like
                        h4
                            strong Favorited
                        p.text-faded.mb-0
                            | Millions of users
                            i.fa.fa-heart
                    .col-lg-3.col-md-6
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-mustache
                        h4
                            strong Question
                        p.text-faded.mb-0 I mustache you a question...

        section.callout
            .container.text-center
                h2.mx-auto.mb-5
                    | Sed ut perspiciatis
                    em voluptatem
                    |          sequi nesciun!
                a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#page-top') Now!

        section#portfolio.content-section
            .container
                .content-section-heading.text-center
                    h3.text-secondary.mb-0 Images
                    h2.mb-5 Recent Images
                .row.no-gutters
                    .col-lg-6
                        a.portfolio-item.js-scroll-trigger(href='#page-top')
                            span.caption
                                span.caption-content
                                    h2 Stationary
                                    p.mb-0 A yellow pencil with envelopes on a clean, blue backdrop!
                            img.img-fluid(src='img/portfolio-1.jpg', alt='')
                    .col-lg-6
                        a.portfolio-item.js-scroll-trigger(href='#page-top')
                            span.caption
                                span.caption-content
                                    h2 Ice Cream
                                    p.mb-0 A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!
                            img.img-fluid(src='img/portfolio-2.jpg', alt='')
                    .col-lg-6
                        a.portfolio-item.js-scroll-trigger(href='#page-top')
                            span.caption
                                span.caption-content
                                    h2 Strawberries
                                    p.mb-0 Strawberries are such a tasty snack, especially with a little sugar on top!
                            img.img-fluid(src='img/portfolio-3.jpg', alt='')
                    .col-lg-6
                        a.portfolio-item.js-scroll-trigger(href='#page-top')
                            span.caption
                                span.caption-content
                                    h2 Workspace
                                    p.mb-0 A yellow workspace with some scissors, pencils, and other objects.
                            img.img-fluid(src='img/portfolio-4.jpg', alt='')

        section.content-section.bg-primary.text-white
            .container.text-center
                h2.mb-4 The buttons below are impossible to resist...
                a.btn.btn-xl.btn-light.mr-4.js-scroll-trigger(href='#page-top') Click Me!
                a.btn.btn-xl.btn-dark.js-scroll-trigger(href='#page-top') Look at Me!

        section#contact.map
            iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.382235697568!2d24.012245915540582!3d49.835275039379766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7a31f0dccd%3A0x9869cc7025bc8e3f!2z0JvRjNCy0ZbQstGB0YzQutCwINC_0L7Qu9GW0YLQtdGF0L3RltC60LA!5e0!3m2!1suk!2sua!4v1529232517177')
            br
            small
                a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')

        footer.footer.text-center
            .container
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3.js-scroll-trigger(href='#page-top')
                            i.icon-social-facebook
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3.js-scroll-trigger(href='#page-top')
                            i.icon-social-twitter
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.js-scroll-trigger(href='#page-top')
                            i.icon-social-github
                p.text-muted.small.mb-0 Copyright © Bohdan Salo 2018
        a.scroll-to-top.rounded.js-scroll-trigger(href='#page-top')
            i.fa.fa-angle-up
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        script(src='js/stylish-portfolio.js')
